<div class="container">
    <form action="/admin/registrar" method="post">
        <div class="mt-2 mb-2">
            <span class="text-danger">@Html.ValidationMessage("Nombre")</span>
            <input class="form-control" type="text" name="Nombre" value="@Model.Nombre" placeholder="Ingrese Nombre" />
        </div>
        <div class="mt-2 mb-2">
            <span class="text-danger">@Html.ValidationMessage("Apellidos")</span>
            <input class="form-control" type="text" name="Apellidos" value="@Model.Apellidos" placeholder="Ingrese Apellido" />
        </div>
        <div class="mt-2 mb-2">
            <span class="text-danger">@Html.ValidationMessage("Dni")</span>
            <input class="form-control" type="text" name="Dni" value="" placeholder="Ingrese DNI" />
        </div>
        <div class="mt-2 mb-2">
            <span class="text-danger">@Html.ValidationMessage("Correo")</span>
            <input class="form-control" type="text" name="Correo" value="@Model.Correo" placeholder="Ingrese Correo" />
        </div>
        <div class="mt-2 mb-2">
            <span class="text-danger">@Html.ValidationMessage("Telefono")</span>
            <input class="form-control" type="text" name="Telefono" value="" placeholder="Ingrese Teléfono" />
        </div>
        <div class="mt-2 mb-2">
            <span class="text-danger">@Html.ValidationMessage("Username")</span>
            <input class="form-control" type="text" name="Username" value="@Model.Username" placeholder="Ingrese Usuario" />
        </div>
        <div class="mt-2 mb-2">
            <span class="text-danger">@Html.ValidationMessage("Password")</span>
            <input class="form-control" type="password" name="Password" value="" placeholder="Ingrese Contraseña" />
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary form-control">Registrar</button>
        </div>
    </form>
</div>