<div class="container">
    <div class="formmulario">
        <h3>Registrar Motocileta</h3>
        <form action="/mecanico/editmoto?id=@Model.Id&idcliente=@Model.IdCliente" method="post">
            <div class="mt-2 mb-2">
                <input class="form-control" type="text" name="Placa" value="@Model.Placa" disabled/>
            </div>
            <span class="text-danger">@Html.ValidationMessage("Placa")</span>
            <div class="mt-2 mb-2">
                <input class="form-control" type="text" name="Marca" value="@Model.Marca" disabled/>
            </div>
            <span class="text-danger">@Html.ValidationMessage("Marca")</span>
            <div class="mt-2 mb-2">
                <input class="form-control" type="text" name="NumSerie" value="@Model.NumSerie" disabled/>
            </div>
            <span class="text-danger">@Html.ValidationMessage("NumSerie")</span>
            <div class="mt-2 mb-2">
                <input class="form-control" type="text" name="Cilindrada" value="@Model.Cilindrada" disabled/>
            </div>
            <span class="text-danger">@Html.ValidationMessage("Cilindrada")</span>
            <div class="mt-2 mb-2">
                <input class="form-control" type="text" name="Año" value="@Model.Año" disabled/>
            </div>
            <span class="text-danger">@Html.ValidationMessage("Año")</span>
            <div class="m-2">
                <span>ESTADO EN EL QUE SE ENCUENTRA LA MOTO: </span>
                <span class="text-success text-uppercase">@Model.EstadoMoto</span>
            </div>
            <div>
                <select class="form-control" name="EstadoMoto">
                    @*<option value="@Model.EstadoMoto">@Model.EstadoMoto</option>*@
                    <option value="">--- SELECCIONE UNA OPCIÓN PARA CAMBIAR ESTADO DE LA MOTO---</option>
                    <option value="En Ingreso">En Ingreso</option>
                    <option value="En Reparación">En Reparación</option>
                    <option value="En Mantenimiento">En Mantenimiento</option>
                    <option value="Para Entrega">Para Entrega</option>
                </select>
            </div>
            <div class="mt-2">
                <button class="btn btn-primary">Editar</button>
            </div>
        </form>
    </div>
</div>