@{ 
    Layout = null;
}

<div class="content">
    <form action="/mecanico/editcliente?id=@Model.Id" method="post">
            <div class="mt-2 mb-2">
                <input class="form-control" type="text" name="Nombre" value="@Model.Nombre" placeholder="Ingrese Nombre" />
            </div>
            <span class="text-danger">@Html.ValidationMessage("Nombre")</span>
            <div class="mt-2 mb-2">
                <input class="form-control" type="text" name="Apellido" value="@Model.Apellido" placeholder="Ingrese Apellido" />
            </div>
            <span class="text-danger">@Html.ValidationMessage("Apellidos")</span>
            <div class="mt-2 mb-2">
                <input class="form-control" type="text" name="Dni" value="@Model.Dni" placeholder="Ingrese DNI" />
            </div>
            <span class="text-danger">@Html.ValidationMessage("Dni")</span>
            <div class="mt-2 mb-2">
                <input class="form-control" type="text" name="Correo" value="@Model.Correo" placeholder="Ingrese Correo" />
            </div>
            <span class="text-danger">@Html.ValidationMessage("Correo")</span>
            <div class="mt-2 mb-2">
                <input class="form-control" type="text" name="Telefono" value="@Model.Telefono" placeholder="Ingrese Teléfono" />
            </div>
            <span class="text-danger">@Html.ValidationMessage("Telefono")</span>
        <div class="modal-footer">
            <button class="btn btn-primary form-control">Editar</button>
        </div>
    </form>
</div>